<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
<p>Dear <%Name%></p>,<br />
    <p>You have been granted read only access to IC&RC's certification and test score database. In this database, you will be able to view all known records of professionals that have been certified or tested through your board. You will only have access to information for professionals from your board. </p> 
    <br />
    <p>To access the database, use the following instructions:</p>

    <ul>
        <li>Go to <%websiteurl%></li>
        <li><ul>Provide your username and password 
            <li>Your username is <%UserEmail%></li>
            <li>Your password is <%Password%></li>            
            </ul>
        </li>
        <li>The first time you login, you will be prompted to change your password</li>
        <li>To access information on your certified perofessionals, click the <b>Certified Persons</b> option in the orange banner</li>
        <li>To access information on examination scores, click the <b>Scores</b> option in the orange banner. </li>
    </ul>
    <br />
    <p>If you have any questions about accessing or using the database, please contact</p>
    <p>info@internationalcredentialing.org</p>
    <p>Thank you.</p>
    <p>IC&RC</p>
</body>
</html>
